/*MOBILE*/
#section6-faq {
    padding: 4em 0;

    & .questions-list {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    h2 {
        padding-bottom: 2em;
    }
}

/*SMALL*/
@media #{$query-small} {
    
}

/*MEDIUM*/
@media #{$query-medium} {

}

/*LARGE*/
@media #{$query-large} {

    
}

/*X-LARGE*/
@media #{$query-xl} {

    
}

/*XX-LARGE*/
@media #{$query-xxl} {

}