/*MOBILE*/
.slide-testimonial {
    width: 100%;
    flex-shrink: 0;

    & .testimonial-portrait {
        display: none;
    }
    & .testimonial {
        font-family: 'Noto Serif';
        font-weight: 600;
        font-size: 33px;
        line-height: 1.5;
    }
    & .quote {
        padding: 2em 0;
    }
    & .close-quote {
        transform: rotate(180deg);
        float: right;
        position: relative;
        top: -2em;
    }
    & .author {
        font-family: 'Mulish';
        font-size: 12px;
        font-weight: 600;
        padding-top: 6em;

        & span {
            font-weight: 200;
        }
    }
}

/*SMALL*/
@media #{$query-small} {
    
}

/*MEDIUM*/
@media #{$query-medium} {

}

/*LARGE*/
@media #{$query-large} {
    .slide-testimonial {
        display: flex;

        & .testimonial-portrait {
            display: block;
        }
        & .testimonials-content {
            padding-left: 6em;
        }
    }
    
}

/*X-LARGE*/
@media #{$query-xl} {

    
}

/*XX-LARGE*/
@media #{$query-xxl} {

}